.new-league-container {
    max-width: 520px;
    margin: 0 auto;
    margin-top: 40px;
}

.new-league-form-button {
    width: 100%;
}

.new-league-form-button[disabled], .new-league-form-button[disabled]:hover, .new-league-form-button[disabled]:focus {
    opacity: 0.6;
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
}

.league-form-row {
    margin-bottom: 20px;
}

.league-form-row input, .league-form-row textarea {
    margin-bottom: 4px;
}

.leagues-container {
    margin: 0 auto;
    margin-top: 20px;
    text-align: left;
}

.margin-table {
    margin-bottom: 60px;
}

.search-tab {
    text-align: right;
}
.button-tab {
    text-align: left;
}

.no-leagues-found {
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

.load-more-leagues {
    text-align: center;
}